extends layout
block content
  .container.c-seek-help
    // Form Name
    legend Help-Form
    form(action='/seekhelp', method='post')
      // Text input
      .form-group
      label.col-md-12.control-label(for='textinput_name') Subject
      .col-md-12
        input#textinput_name.form-control.input-md1(name='subject', type='text', placeholder='', required='')
        span
      .form-group
      label.col-md-1.control-label2(for='textinput_name') Name
      .col-md-8
        input#textinput_name.form-control.input-md2(name='name', type='text', placeholder='', required='')
        span
      // Prepended checkbox
      .form-group
      label.col-md-12.control-label(for='checkboxes') Services
      .col-md-6
        .funkyradio
          .funkyradio-default
            input#checkbox1(type='checkbox', name='cb_household', checked='')
            label(for='checkbox1') Household Chores
      .col-md-6
        .funkyradio
          .funkyradio-primary
            input#checkbox2(type='checkbox', name='cb_babysit')
            label(for='checkbox2') Babysitting
      .col-md-6
        .funkyradio
          .funkyradio-success
            input#checkbox3(type='checkbox', name='cb_market')
            label(for='checkbox3') Marketing
      .col-md-6
        .funkyradio
          .funkyradio-danger
            input#checkbox4(type='checkbox', name='cb_elderly')
            label(for='checkbox4') Elderly Care
      // Textarea
      .form-group
      label.col-md-12.control-label(for='textarea_comments') Additional Services/Comments
      .col-md-6
        textarea#textarea_comments.form-control(name='comments')

      br
      br
      .col-md-12
        button.btn.btn-lg.btn-primary(type='submit')
          | Post
