extends layout
block content
  .container
    .row.text-center
      h1 for tired, busy moms!
      h3
      .col-md-4.col-sm-4
        img.img-circle.img1
        h3
          a(href='./seekhelp') Seek-Help
        p
          a(href='./seekhelp') Dear mom, get the help you need. Share with us your to do list. So you can focus on what you do best.
      .col-md-4.col-sm-4
        img.img-circle.img2.
        h3
          a('./helpmate') Help-Mates
        p
          a('./helpmate') Be a help-mate. Let us know your availability and what you can do to help our dear busy moms out there. Post your service here!
      .col-md-4.col-sm-4
        img.img-circle.img3
        h3
          a('./advertsboard') Help-Services
        p
          a('./advertsboard') View all the list of help needed and rendered.
